extends ../shared/template

block content
  .row
    .small-12.columns
      #container
        if user
          #tabWrap
            .row
              .small-4.columns
                img(src= user.cover)
              .small-8.columns
                h1= user.name
                h2#email= user.email
                h3#progressPics: a(href='/user/progress') Progress Pics
            .row
              .small-6.columns
                if user.wods
                  - for (var i=0; i<user.wods.length; i++)
                    .workout
                      h3= user.wods[i].name
                      h5= user.wods[i].date
                      if !user.wods[i].finished
                        if user.wodsCompleted[i].category == 'AMRAP'
                          .row
                            .small-4.columns
                              h5.test Record Total Reps 
                            .small-5.columns
                              input.score
                            .small-3.columns
                              button.tiny.alert.radius.record Record
                        if user.wodsCompleted[i].category == 'For Time'
                          .row
                            .small-4.columns
                              h5 Record Your Time
                            .small-5.columns
                              input.score
                            .small-3.columns
                              button.tiny.alert.radius.record Record
              .small-6.columns
                if user.finishedWods.length > 0
                  h3 Workouts Recently Completed:
                  - for (var i=0; i<5; i++)
                    if user.finishedWods[i]
                      a: h4= user.finishedWods[i].name
                      h4 Score: #{user.finishedWods[i].score}
                      h4 Date Completed: #{user.finishedWods[i].date}

block scripts
  script(src='/js/source/usershow.js')
